<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACTIVITY_CENTRE_INFO_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=ACTIVITY_CENTRE_INFO_QUERY&amp;sign=02a6eb4f7173b3fd8b8ae23ab7a3f9d6&amp;timestamp=1528952043108</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>ACTIVITY_CENTRE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=ACTIVITY_CENTRE_QUERY&amp;sign=4dc6b3bfce1ede490ba64761891ebf60&amp;timestamp=1528951287337</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>ACTIVITY_HISTORY_LIST_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>activityCode=HAND_SPEED&amp;authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;pageSize=10&amp;service=ACTIVITY_HISTORY_LIST_QUERY&amp;sign=4b30b2975720b9fd6c93495f02289a7a&amp;timestamp=1528874224287</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>ACTIVITY_LIST_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>activityCode=LUCKY_DRAW&amp;authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=ACTIVITY_LIST_QUERY&amp;sign=44ed46bb9269717b5fae8a352f54039a&amp;timestamp=1528951287181</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>ACTIVITY_PRIZE_RECORD_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>acitvityCode=DECREE&amp;authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=ACTIVITY_PRIZE_RECORD_QUERY&amp;sign=bda8933101bb6d5158dc1f773b844bbb&amp;timestamp=1528951247873</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>BASKETBALL_RACE_QUERY_BY_DATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;date=2018-06-12&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=BASKETBALL_RACE_QUERY_BY_DATE&amp;sign=7cb2f47e7a62b7a738b8dabbe5109231&amp;timestamp=1528879241639</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>BASKETBALL_RACE_WITH_CHANNEL_AREA_INFO_BY_DATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;matchScheduleQueryType=ALL&amp;service=BASKETBALL_RACE_WITH_CHANNEL_AREA_INFO_BY_DATE&amp;sign=28298279b2c2a76963e75d316954b31b&amp;timestamp=1528876105426</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>BEHAVIOR_GENERATE_EVENT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=BEHAVIOR_GENERATE_EVENT_QUERY&amp;sign=8a3941bcd26577947c81ffb7f535a764&amp;timestamp=1528951291722&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>BET_COUPON_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=BET_COUPON_QUERY&amp;sign=fe3b5c1fe62a5d6a6fe77c3aa8efdace&amp;timestamp=1528952043166</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>BET_COUPON_RANKING_LIST_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=BET_COUPON_RANKING_LIST_QUERY&amp;sign=843678b72ec4aef0ee7f7692114bc7bb&amp;timestamp=1528952043149</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>BET_HEADLINE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=BET_HEADLINE_QUERY&amp;sign=f1893089d6547bc5ecd6dbd3e3c0d065&amp;timestamp=1528952043114</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CHANNEL_AREA_USER_HEART_BEAT_SET</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;channelAreaId=100752&amp;enterKey=07c098a91a4345e59c7e079a0ac2c3a5&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=CHANNEL_AREA_USER_HEART_BEAT_SET&amp;sign=3a9593471df2c39308ec52b842ab71f1&amp;timestamp=1528951279826</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CHANNEL_AREA_USER_QUERY_BY_CHANNEL_AREA_ID</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=CHANNEL_AREA_USER_QUERY_BY_CHANNEL_AREA_ID&amp;sign=e52dbe35fbf06249949a2286346e1b72&amp;timestamp=1528951279835</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CHANNEL_AREA_USER_VOTE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=CHANNEL_AREA_USER_VOTE&amp;sign=9454698d3c5e76c2999771ee7a31f812&amp;timestamp=1528883929218&amp;voteItemId=630625</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CHANNEL_RELATION_ON_THE_WALL_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=studiopublic_navigation_wall_null_null_null&amp;bd_to=studiowall&amp;channelAreaId=100788&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=CHANNEL_RELATION_ON_THE_WALL_QUERY&amp;sign=f1db0f0105a3f2c7e60a03ab6b0cf5dd&amp;timestamp=1528951239970</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CLIENT_START_GRAPH_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;clientType=IOS&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=CLIENT_START_GRAPH_QUERY&amp;sign=078788da651f6b85c1da168d7c73a399&amp;timestamp=1528952038649</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CMS_INFO_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=CMS_INFO_QUERY&amp;sign=06afdf0168fb5a14a1f4b789cb7ed371&amp;timestamp=1528952043104</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>COMMENT_CREATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;content=&lt;emotion image_name="normal/xzk.png" image_alt="xzk"&gt;xzk&lt;/emotion&gt;&lt;emotion image_name="normal/xzk.png" image_alt="xzk"&gt;xzk&lt;/emotion&gt;&lt;emotion image_name="normal/xzk.png" image_alt="xzk"&gt;xzk&lt;/emotion&gt;&lt;emotion image_name="normal/xzk.png" image_alt="xzk"&gt;xzk&lt;/emotion&gt;&lt;emotion image_name="normal/xzk.png" image_alt="xzk"&gt;xzk&lt;/emotion&gt;&amp;createTopic=0&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;objectId=15799233&amp;objectType=SUBJECT&amp;service=COMMENT_CREATE&amp;sign=7071fc829822c73ea0ee60eecbe12a56&amp;timestamp=1528874271152</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>COMMENT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectId=15799233&amp;objectType=SUBJECT&amp;orderBy=SET_TOP_AND_GMT_DESC&amp;service=COMMENT_QUERY&amp;sign=7c640604bbc1061b38567ff44f67c945&amp;timestamp=1528951351819</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>COMMENT_QUERY_BY_COMMENT_ID</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;commentId=22874510&amp;commentObjectType=SUBJECT&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectId=15799233&amp;service=COMMENT_QUERY_BY_COMMENT_ID&amp;sign=9ff4f980b2e3e6a349bf93fdbc1a9abe&amp;timestamp=1528951401357</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>COMMENT_REPLY_CREATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;commentId=22874510&amp;content=回复 Mickey:Xcs&amp;createTopic=0&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=COMMENT_REPLY_CREATE&amp;sign=bb8a98632ea44ae47262e4f5f0c31536&amp;timestamp=1528951405359</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>COMMENT_REPLY_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;commentId=22874510&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectType=SUBJECT&amp;service=COMMENT_REPLY_QUERY&amp;sign=b7cef12085e92f1317f595062e409627&amp;timestamp=1528951401409</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>COST_ARMOR_DETAIL_SIGN_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=personalcenter_list_shirt_null_null_null&amp;bd_to=shirt&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=COST_ARMOR_DETAIL_SIGN_QUERY&amp;sign=58e7a32f3919de616b85448a77aad4cf&amp;timestamp=1528876149406</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>CURRENT_ACTIVITY_AND_GMT_START_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=CURRENT_ACTIVITY_AND_GMT_START_QUERY&amp;sign=baafd67e11b84777170871f67c82a2a5&amp;timestamp=1528951279722</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>DAILY_AWARD</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=DAILY_AWARD&amp;sign=85d0ccb612f623c23d459df4537311b4&amp;timestamp=1528952043450</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>DAILY_AWARD_NOTICE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=DAILY_AWARD_NOTICE_QUERY&amp;sign=2ecbacb22296be10f0aa7f1d6133577c&amp;timestamp=1528952043464</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>DYNAMIC_DATA_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceIds=25727463&amp;service=DYNAMIC_DATA_QUERY&amp;sign=1ec81153fb4c783ad0c384dc852de4b4&amp;timestamp=0</string>
		<key>requestUrl</key>
		<string>http://ftapi.huored.net/service.json</string>
	</dict>
	<key>DYNAMIC_SCORE_DATA</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceIds=450475&amp;service=DYNAMIC_SCORE_DATA&amp;sign=5cc00ff11cb77db8bfdc52128716ca76&amp;timestamp=0</string>
		<key>requestUrl</key>
		<string>http://btapi.huored.net/service.json</string>
	</dict>
	<key>ENTER_CHANNEL_AREA</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=ENTER_CHANNEL_AREA&amp;sign=b10e07fa164b935c294358593520f513&amp;timestamp=1528951249686</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>FOOTBALL_RACE_BETTING_PAGE_INFO_BY_ISSUE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;hideNotAllowedPay=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;matchScheduleQueryType=ALL&amp;mixPurchase=0&amp;raceType=FOOTBALL&amp;service=FOOTBALL_RACE_BETTING_PAGE_INFO_BY_ISSUE&amp;sign=393c9f9905c8717c81881564449cde10&amp;timestamp=1528952043158</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>FOOTBALL_RACE_QUERY_BY_DATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;date=2018-06-12&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=FOOTBALL_RACE_QUERY_BY_DATE&amp;sign=14b8ae2c1b02f5eb6f76871d128fcfe4&amp;timestamp=1528879243317</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>FOOTBALL_RACE_WITH_CHANNEL_AREA_INFO_BY_DATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;matchScheduleQueryType=ALL&amp;service=FOOTBALL_RACE_WITH_CHANNEL_AREA_INFO_BY_DATE&amp;sign=75e4ec95ee446f608a54ed3554add3be&amp;timestamp=1528951304564</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GET_ALLOW_FETCH_COUNT</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;platformObjectId=100752&amp;platformObjectType=CHANNEL_AREA&amp;service=GET_ALLOW_FETCH_COUNT&amp;sign=18d0279b99dbd8db2e9c4cda8f07ab21&amp;timestamp=1528951249058</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GET_CHANNEL_AREA_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GET_CHANNEL_AREA_QUERY&amp;sign=78351f304bb7941f9ab73a02e828c83a&amp;timestamp=1528951314882</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GET_COUPON_CONFIG</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GET_COUPON_CONFIG&amp;sign=973a62c767af25a8a71919c4664dbb33&amp;timestamp=1528951268337</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GET_COUPON_FETCH_INFO</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=studiopublic_menu_envelope_null_null_null&amp;bd_to=null&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;platformObjectId=100752&amp;platformObjectType=CHANNEL_AREA&amp;service=GET_COUPON_FETCH_INFO&amp;sign=caa1d5b1373e53a63a318092d6a0c691&amp;timestamp=1528951268413</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GIFT_EFFECT_RESOURCE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;clientType=IOS&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GIFT_EFFECT_RESOURCE_QUERY&amp;sign=36557071b99b557f9b2442043c5ed5c3&amp;timestamp=1528952042394</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GIFT_PURCHASE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;giftPurchaseParams=[
  {
    "giftConfigId" : "9",
    "payType" : "GIFT_COIN",
    "totalAmount" : 490,
    "totalCount" : "1"
  }
]&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;platformObjectId=100752&amp;receiveUserId=8201803128726367&amp;service=GIFT_PURCHASE&amp;sign=5e4dd2795ab13bf207e045a0cca36894&amp;timestamp=1528951257384</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GIFT_QUERY_BY_CHANNEL_AREA_ID</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;payType=GIFT_COIN&amp;service=GIFT_QUERY_BY_CHANNEL_AREA_ID&amp;sign=10a2830c275a26920fd1a1ee902a816d&amp;timestamp=1528951252430</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GIFT_QUERY_BY_GIFT_CONFIG_ID</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;giftConfigId=9&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GIFT_QUERY_BY_GIFT_CONFIG_ID&amp;sign=4aec9df17536d29b417e81a5f561df2d&amp;timestamp=1528951252676</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GIFT_SHOW_CONFIG_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GIFT_SHOW_CONFIG_QUERY&amp;sign=08c2eecbdeaa80b976175de6b1f0dd66&amp;timestamp=1528951249068</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GROUP_CHAT_SET_PAGE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;groupChatId=4000550716012600200970017746&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GROUP_CHAT_SET_PAGE_QUERY&amp;sign=7b6aeb6913e186349e6481d5d36a5646&amp;timestamp=1528951343159</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GROUP_MESSAGE_QUERY_BY_USER</key>
	<dict>
		<key>parameters</key>
		<string>authId=2978333277304610980054337792&amp;authedUserId=8201712058726021&amp;fetchAfter=0&amp;identifyId=201806141242223dd11fa8afc94661a947a1e7bfe8c4e1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;messageSequence=4574649798005628&amp;messageSequenceOrderBy=DESC&amp;recordCount=50&amp;service=GROUP_MESSAGE_QUERY_BY_USER&amp;sign=dc4ee83a7262f6ab5885e4f5a64d5f52&amp;timestamp=1528951343780&amp;userId=8201712058726021</string>
		<key>requestUrl</key>
		<string>http://immapi.xjq.net/service.json</string>
	</dict>
	<key>GROUP_PURCHASE_ORDER_DETAIL</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;purchaseOrderGroupId=4001481998366107890980059686&amp;service=GROUP_PURCHASE_ORDER_DETAIL&amp;sign=da74e315c9c9544fbfab0aaada3de8a9&amp;timestamp=1528951221662</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GROUP_TOPIC_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;groupId=4000550716015004610970014302&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GROUP_TOPIC_QUERY&amp;sign=4392655c6cfcdc936417d04fea6e49e0&amp;timestamp=1528951348801</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>GROUP_USER_ENTRY_ENTER</key>
	<dict>
		<key>parameters</key>
		<string>authId=2978333277304610980054337792&amp;authKey=2018061412422163f7902fca894846a7ed11a691451a0e&amp;authedUserId=8201712058726021&amp;groupId=4000550716015004610970014302&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=GROUP_USER_ENTRY_ENTER&amp;sign=6289a8bf21411472619df30dad665eee&amp;timestamp=1528951342336&amp;userId=8201712058726021</string>
		<key>requestUrl</key>
		<string>http://immapi.xjq.net/service.json</string>
	</dict>
	<key>HOT_TOPIC_SUBJECT_RECOMMEND</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=HOT_TOPIC_SUBJECT_RECOMMEND&amp;sign=0038c3665d1e051dd25a17ad1f30860c&amp;timestamp=1528951289804&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>INDEX_CONTENT_RECOMMEND</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=indexrecommend_statusbar_myconcern_null_null_null&amp;bd_to=indexrecommend&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=INDEX_CONTENT_RECOMMEND&amp;sign=d62b1ae6c7184117548a836fc5cc8e4b&amp;timestamp=1528951318013</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>IOS_ADUIT_CONFIG_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=IOS_ADUIT_CONFIG_QUERY&amp;sign=5a637d20d61ffbf1384b54f600b2ed50&amp;timestamp=1528952038676</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>JUMP_H5_URL_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;jumpH5Page=CHEER_RULE&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=JUMP_H5_URL_QUERY&amp;sign=7e51e48e30267433f8279a642f87a0f4&amp;timestamp=1528951620701</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>KF_APP_LOGIN_SGIN_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;chatSourceReferer=USER_HOME_INDEX&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=KF_APP_LOGIN_SGIN_QUERY&amp;sign=cfc267d47b682d565ec668cd277268f1&amp;timestamp=1528951469201</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>LIKE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;likeObjectTypeEnum=COMMENT&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectId=22874510&amp;service=LIKE&amp;sign=8f34c411ccd3c9dbb3736243f6135cf7&amp;timestamp=1528951406437</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>MALL_URL_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=personalcenter_list_mall_null_null_null&amp;bd_to=mall&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=MALL_URL_QUERY&amp;sign=d145af1d6c98715580906b170faa0aae&amp;timestamp=1528951426635</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>MESSAGE_NOTICE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=MESSAGE_NOTICE_QUERY&amp;sign=636b06a20d51be3e8fbf365b535c775d&amp;timestamp=1528951333480</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>MIX_CHEER_PURCHASE_CART</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;boardIdAndOptions=4001465409472707890980059160@LESS_THAN|4001465411671107890980054844@OPTION_TWO&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;orderGroupId=4001481998366107890980059686&amp;raceIds=4001464101832507890980054931&amp;raceType=FOOTBALL&amp;service=MIX_CHEER_PURCHASE_CART&amp;sign=6acadb494b7986be4a195fd654783d11&amp;timestamp=1528951195054</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>MY_FUND_ACCOUNT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=MY_FUND_ACCOUNT_QUERY&amp;sign=a0b34b7ce27ce7b31e407990e6b4207c&amp;timestamp=1528951252516</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>MY_TOPIC_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=MY_TOPIC_QUERY&amp;showFollowers=0&amp;sign=1d2b84893f6a7c87358d673704e83a72&amp;timestamp=1528951291020&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>MY_USER_INFO_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=MY_USER_INFO_QUERY&amp;sign=b40cc19cce08307b8fa6877b58f2bc3c&amp;timestamp=1528951478388</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>NEWLY_ACQUIRED_ACHIEVEMENT_MEDAL_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=NEWLY_ACQUIRED_ACHIEVEMENT_MEDAL_QUERY&amp;sign=06b60e7c6bf5f3c907de72631b5384db&amp;timestamp=1528951279796</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PARTICIPATE_RECORD_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>acitvityCode=HAND_SPEED&amp;authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=PARTICIPATE_RECORD_QUERY&amp;sign=d6b8bcadc969a0117d9e9067ddd2106f&amp;timestamp=1528951246930</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PK_GAME_BOARD_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=studiopublic_PKing_record_null_null_null&amp;bd_to=null&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;queryNow=0&amp;service=PK_GAME_BOARD_QUERY&amp;sign=047a9cb3b16e6c2e05c5da5ef444eacb&amp;timestamp=1528951263148</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PRIZECORE_QUERY_ACTIVE_ISSUE_INFO</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=PRIZECORE_QUERY_ACTIVE_ISSUE_INFO&amp;sign=232879a65a3c31e16400fb814a2ded60&amp;timestamp=1528951266694</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PRIZE_RECORD_NOTICE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=PRIZE_RECORD_NOTICE_QUERY&amp;sign=ab801b8e5f4858c0c476082f1be2333a&amp;timestamp=1528951287175</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PROCESSING_GAME_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=PROCESSING_GAME_QUERY&amp;sign=10107f72e20d3461db9995a736d460b6&amp;timestamp=1528951280551</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PROVINCES_CITIES_COUNTS_TOWNS_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;cityId=2808&amp;countyId=51528&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;provinceId=1&amp;service=PROVINCES_CITIES_COUNTS_TOWNS_QUERY&amp;sign=85c63afe3614147f13e04d59fecd842c&amp;timestamp=1528951445966&amp;type=TOWN</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_FOOTBALL_MIX</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;createrType=USER_CREATE&amp;keyAndOptions=4001465409472707890980059160@JQS@LESS_THAN|4001465411671107890980054844@ZDY@OPTION_TWO&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;mixCount=2&amp;multiple=2&amp;payCoinType=GOLD_COIN&amp;payType=GOLD_COIN&amp;playType=MIX_CHEER&amp;service=PURCHASE_FOOTBALL_MIX&amp;sign=eec52ff4143818cefb2ae260870bccf7&amp;singleTotalFee=200&amp;timestamp=1528951184774&amp;totalFee=400</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_FOOTBALL_NORMAL</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;boardId=4001465409472707890980059160&amp;createrType=USER_CREATE&amp;frontType=M_CLIENT&amp;keyAndOptions=4001465409472707890980059160@GREATER_EQUAL&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;multiple=1&amp;payCoinType=GOLD_COIN&amp;payType=GOLD_COIN&amp;playSubType=JQS&amp;playType=CHEER&amp;service=PURCHASE_FOOTBALL_NORMAL&amp;sign=4ad25f80abec476643508fda34986a07&amp;timestamp=1528951168470&amp;totalFee=100&amp;userId=8201712058726021</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_ORDER_ISSUE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;issueType=DAY&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;mixPurchase=0&amp;queryType=ALL&amp;raceType=FOOTBALL&amp;service=PURCHASE_ORDER_ISSUE_QUERY&amp;sign=fa4b836ad0d46037678565457413f71a&amp;timestamp=1528951277290</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_ORDER_SUMMARY_QUERY_BY_ANY_USER</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;queryType=PROGRESSING&amp;service=PURCHASE_ORDER_SUMMARY_QUERY_BY_ANY_USER&amp;sign=aab9cc03b372682fc8f7b5909f97d2c7&amp;timestamp=1528951293138&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_ORDER_SUMMARY_QUERY_BY_PK_USER</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;playType=PK&amp;service=PURCHASE_ORDER_SUMMARY_QUERY_BY_PK_USER&amp;sign=a7705c7e45fe7a2c58aae07e0ebe9617&amp;timestamp=1528951223897</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_ORDER_SUMMARY_QUERY_BY_SINGLE_USER</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=0&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;playType=CHEER&amp;service=PURCHASE_ORDER_SUMMARY_QUERY_BY_SINGLE_USER&amp;sign=a82ebbfdefb506dd3878d0c9747efd66&amp;timestamp=1528951245659</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>PURCHASE_SUPPER_ADDITION</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;groupId=4001481998366107890980059686&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;multiple=1&amp;service=PURCHASE_SUPPER_ADDITION&amp;sign=8987c51703b55d7c47ac14a0dbc62d3e&amp;timestamp=1528951203475</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>QCLOUD_TLS_USER_SIGN_GET</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=QCLOUD_TLS_USER_SIGN_GET&amp;sign=d362290f92c976eed034a55fc888c286&amp;timestamp=1528952042368</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>RACE_QUERY_BY_RACE_TYPE_AND_ID</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceId=4001464160882907890980059128&amp;raceType=FOOTBALL&amp;service=RACE_QUERY_BY_RACE_TYPE_AND_ID&amp;sign=849df62c73c7a768232b7f965e47a5ba&amp;timestamp=1528951306570</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>RACE_QUERY_DATE_RANGE_CONFIG</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=RACE_QUERY_DATE_RANGE_CONFIG&amp;sign=9328decc495f1f47ce002e62e85cd0a0&amp;timestamp=1528879237404</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>RACE_RELATION_MARKED_ATTITUDE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=0&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceId=4001464160882907890980059128&amp;raceType=FOOTBALL&amp;service=RACE_RELATION_MARKED_ATTITUDE_QUERY&amp;sign=a2ea21890444a8208f0831423157f33f&amp;timestamp=1528951306679</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>RACE_RELATION_SUBJECT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceId=4001464160882907890980059128&amp;raceType=FOOTBALL&amp;service=RACE_RELATION_SUBJECT_QUERY&amp;sign=3150d247506e9164850c582772ac1593&amp;timestamp=1528951306635</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>SEASON_RACE_INJURY_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceId=25727463&amp;service=SEASON_RACE_INJURY_QUERY&amp;sign=c0fe3cf8a58f03ed7c9bdef4a97c7985&amp;timestamp=1528951308852</string>
		<key>requestUrl</key>
		<string>http://ftapi.huored.net/service.json</string>
	</dict>
	<key>SOLE_MESSAGE_COUNT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=SOLE_MESSAGE_COUNT_QUERY&amp;sign=6079deeee6e6cc9b058da69a409795d0&amp;timestamp=1528951485224</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>SUBJECT_CREATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;content=Tttttttttttt&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;objectType=NORMAL&amp;service=SUBJECT_CREATE&amp;sign=3f8824a57b629c26b585caa657c23ff9&amp;timestamp=1528879439658</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>SUBJECT_CREATE_BEFORE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=SUBJECT_CREATE_BEFORE_QUERY&amp;sign=ac3d2c3097313ceffa4594427ac09b1e&amp;timestamp=1528951313255</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>SUBJECT_DETAIL</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=SUBJECT_DETAIL&amp;sign=a1f756efd364eb01fbbafdd6fc0e6015&amp;subjectId=15799233&amp;timestamp=1528951351078</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>TAG_PAGE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectId=15799233&amp;objectType=SUBJECT&amp;pageSize=20&amp;service=TAG_PAGE_QUERY&amp;sign=eb7284b65f4d110f6500beee1cdcc1b5&amp;timestamp=1528951350505</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>TEACH_VIDEO_CONFIG_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=TEACH_VIDEO_CONFIG_QUERY&amp;sign=09418ad15d4c4cce039b01254ad333dd&amp;timestamp=1528873218013</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>TEAM_LEA_RANK_EXTRA_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceId=25727463&amp;rankType=SR_AAR&amp;service=TEAM_LEA_RANK_EXTRA_QUERY&amp;sign=20ed081eea6a45de4fc186440256d065&amp;timestamp=1528951309473</string>
		<key>requestUrl</key>
		<string>http://ftapi.huored.net/service.json</string>
	</dict>
	<key>TEAM_RANK_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;raceId=25727463&amp;service=TEAM_RANK_QUERY&amp;sign=23538228d6d2dbdd1cadd168e28cb363&amp;timestamp=1528951309285</string>
		<key>requestUrl</key>
		<string>http://ftapi.huored.net/service.json</string>
	</dict>
	<key>THEME_OPERATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL7ff58349931f4aa8bdf58de68389047b&amp;objectId=4000550716012600200970017746&amp;objectType=GROUP_CHAT&amp;service=THEME_OPERATE&amp;sign=a826bf36a40d2817033dccd61c16d957&amp;themeIds=4001414221105107890980056580,4001422514753107890980055177,4001398380627607890970029573,4001398378070807890970026413,4001398372286907890970027802,4001464113116207890980054571&amp;themeType=GAME_BOARD&amp;timestamp=1528872544232</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>THEME_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectId=4000550716012600200970017746&amp;objectType=GROUP_CHAT&amp;service=THEME_QUERY&amp;sign=c933ba6ce352c7fcdd3d33874cfdde37&amp;timestamp=1528951418224</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>TRANSMIT_CREATE_SUBJECT</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;content=//@韶华的1级用户:去去去&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;objectId=15803102&amp;objectType=SUBJECT&amp;service=TRANSMIT_CREATE_SUBJECT&amp;sign=6e7159989b1ad5cccf3c36fff1948620&amp;timestamp=1528951327663</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>TRANSMIT_TO_GROUP</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;content=@我家狗狗叫海盗大华看到黄金卡后覅快哦爱哦&amp;groupId=4000550716015004610970014302&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;objectId=15799233&amp;objectType=SUBJECT&amp;service=TRANSMIT_TO_GROUP&amp;sign=8accd935f7c3ae0659e41210dda5919d&amp;timestamp=1528874292454</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>UNREAD_MESSAGE_COUNT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=UNREAD_MESSAGE_COUNT_QUERY&amp;sign=e4429eb1bf586f8325d9725b9416cbb1&amp;timestamp=1528951420506</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_AUTH_LOGIN_CHAT_VALIDATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;groupId=4000550716015004610970014302&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;platformType=CELL_CLIENT&amp;service=USER_AUTH_LOGIN_CHAT_VALIDATE&amp;sign=02bf233bb4a284b0ac217e39ea70a25d&amp;timestamp=1528951342164</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_DEFAULT_RECEIVE_ADDRESS_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=personalcenter_list_address_null_null_null&amp;bd_to=address&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_DEFAULT_RECEIVE_ADDRESS_QUERY&amp;sign=0e20c95508f092880d89e8352f1d7823&amp;timestamp=1528951461556</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_ENTER_GROUP_OPERATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;groupId=4000550716015004610970014302&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_ENTER_GROUP_OPERATE&amp;sign=fa751fb7aee18cdf86cf8e4c064a4172&amp;timestamp=1528951418148</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_FOLLOW_CANCEL</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_FOLLOW_CANCEL&amp;sign=d9fd5ba69009dd320e6598d14cd31f41&amp;timestamp=1528951297290&amp;userId=8201711288725845&amp;userType=FOLLOWCANCEL</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_FOLLOW_CREATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_FOLLOW_CREATE&amp;sign=142aef17959d85dd7df192507ba663cf&amp;timestamp=1528951295867&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_INFO_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_INFO_QUERY&amp;sign=606949ecad7489946fe9a944ed442cf6&amp;timestamp=1528951297452&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_JOINED_GROUP_INFO_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;service=USER_JOINED_GROUP_INFO_QUERY&amp;sign=3f80c88aca301ab1ab92897d8ab45928&amp;timestamp=1528874283399&amp;transmitCode=GROUP</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_JOINED_GROUP_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_JOINED_GROUP_QUERY&amp;sign=6a8c6310771d3c8874ae3560ef7a8796&amp;timestamp=1528952043197</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_LOGIN</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;cell=18700000000&amp;loginKey=USL1e97b0a6e59647a0a78d734046ef2971&amp;loginPassword=123456&amp;service=USER_LOGIN&amp;sign=577523c2f7214ba6725a74c148490307&amp;timestamp=1528873217243</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_MESSAGE_NOTICE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_MESSAGE_NOTICE&amp;sign=59e927e973e0baa363903a97900c9723&amp;timestamp=1528951334796</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_OUTCOME_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;currentPage=1&amp;finished=0&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_OUTCOME_QUERY&amp;sign=cacd3dda9ee542a03ffa6cf9cfbca86e&amp;timestamp=1528951293701&amp;userId=8201711288725845</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_PACKAGE_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_PACKAGE_QUERY&amp;sign=db4239b505f190f170a3b53a89afbd1e&amp;sourceId=100752&amp;timestamp=1528951279503</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_RECEIVE_ADDRESS_CREATE</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;cityId=2808&amp;countyId=51528&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;provinceId=1&amp;receiverCell=12335553353&amp;receiverName=Add&amp;service=USER_RECEIVE_ADDRESS_CREATE&amp;sign=bf53df9d1dd29db375146e5cf4144796&amp;streetInfo=Dada&amp;timestamp=1528951461442</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>USER_TICKET_AMOUNT_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=USER_TICKET_AMOUNT_QUERY&amp;sign=17da987fa3b8d2113eb3b2049d88468d&amp;timestamp=1528951194967</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
	<key>VIP_SEAT_LIST_QUERY</key>
	<dict>
		<key>parameters</key>
		<string>authedUserId=8201712058726021&amp;bd_from=studiopublic_navigation_seats_null_null_null&amp;bd_to=studioseats&amp;channelAreaId=100752&amp;loginKey=USL6f6a405064604e2aa181f3b1d8e373bb&amp;service=VIP_SEAT_LIST_QUERY&amp;sign=e1a16bb1809ff74ed9d2bd7333ec2fdb&amp;timestamp=1528951248990</string>
		<key>requestUrl</key>
		<string>http://mapi.xjq.net/client/service.json</string>
	</dict>
</dict>
</plist>
